html, body {
  height: 100%;
  background-color: #ededed; }

.textalign {
  width: 2.8rem!important;
  position: absolute;
  right: 0.24rem;
  text-align: right; }

.icon-broswer {
  display: inline-block;
  width: 0.48rem;
  height: 0.48rem;
  background: url(../img/broswer@2x.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  color: #828282; }

.icon-msg {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  background: url(../img/msg@2x.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  color: #828282; }

.icon-reduce {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../img/reduce@2x.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  margin-right:0.46rem; }

.icon-add {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background: url(../img/add@2x.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle;
  margin-left: 0.46rem; }

.icon-qq {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url(../img/qq@2x.png) no-repeat center center;
  background-size: cover;
  vertical-align: middle; }

.icon-tel {
  display: inline-block;
  width: 0.72rem;
  height: 0.72rem;
  background: url(../img/tel@2x.png) no-repeat center center;
  background-size: cover; }

.mt25 {
  margin-top: 0.5rem; }

.mr10 {
  margin-right: 0.2rem; }

.jf-buy {
  overflow: hidden;
  background-color: #fff; }
  .jf-buy .swiper{
    z-index: 0;
    height: 7.5rem!important;
    overflow: hidden;
    margin-bottom: 0.48rem;
  }
  .jf-buy .swiper mt-swipe{
    z-index: -1;
    overflow: hidden;
  }
  .jf-buy .swiper mt-swipe-item{
    z-index: -1;
    overflow: hidden;
  }
  .focus img, .focus {
      overflow: hidden;
      width: 100%;
      height: 7.5rem; }
  .jf-buy .title {
    margin-bottom: 0.64rem; }
    .jf-buy .title h4 {
      width: 4.92rem;
      margin: 0 auto;
      text-align: center;
      font-weight: lighter;
      font-family: "PingFangSC-Medium";
      font-size: 0.44rem; }
    .jf-buy .title p {
      font-size: 0.24rem;
      color: rgb(130,130,130);
      text-align: center; }
    .jf-buy .title p i{margin-right: 0.04rem;}
  .jf-buy .icon-broswer {
    margin-left:0.3rem; }
  .jf-buy .sku {
    z-index: 999999;
    overflow: hidden;
    margin: 0 0.24rem; }
    .jf-buy .h_box{overflow: hidden;}
    .jf-buy .sku .tit {
      float: left;
      margin-right: 0.04rem;
      line-height: 0.48rem;
      font-size: 0.32rem; }
    .jf-buy .sku ul {
      border: 1px solid #ededed;
      border-width: 1px 0 1px 0;
      padding: 0.32rem 0; }
    .jf-buy .sku li {
      flex-wrap: wrap; }
    .jf-buy .sku em {
      float: left;
      line-height: 0.48rem;
      font-size: 0.32rem;
      color: #ccc; }
    .jf-buy .sku p {
      float: left;
      width: 5.48rem; }
      .jf-buy .sku p span.sku-sel {
        display: inline-block;
        width: 1.08rem;
        height: 0.48rem;
        background: whitesmoke;
        margin: 0 0 0rem 0.2rem;
        text-align: center;
        line-height: 0.48rem;
        font-size: 0.24rem;
        border-radius: 0.08rem; }
      .jf-buy .sku p span.sku-sel.cur {
        background: #ff6565;
        color: #fff; }
      .jf-buy .sku p .inputText {
        width: 0.92rem;
        height: 0.48rem;
        background: whitesmoke;
        border-radius: 0.08rem;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 0.24rem; }
  .jf-buy .details {
    margin: 0 0.24rem; }
    .jf-buy .details img {
      width: 100%; }
    .jf-buy .details h3 {
      font-size: 0.32rem;
      font-weight: normal;
      margin: 0.72rem 0 0.2rem; }
    .jf-buy .details .msg {
      font-size: 0.28rem; }
    .jf-buy .details:last-child{
      padding-bottom:1.28rem;
    }

.btnbox {
  z-index: 999999;
  padding-bottom: 1.2rem; }
  .btnbox ul {
    height: 0.96rem;
    background-color: #2f2f2f;
    position: fixed;
    bottom: 0;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .btnbox li:first-child {
    float: left;
    color: #fff;
    font-size: 0.48rem;
    line-height: 0.96rem;
    width: 5.42rem;
    padding-left: 0.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .btnbox li:first-child span {
      font-size: 0.24rem;
      color: #ccc;
      text-decoration: line-through; }
  .btnbox li:first-child em {
    font-size: 0.28rem; }
  .btnbox li.buy {
    float: left;
    width: 2.08rem;
    background-color: #ff6565;
    line-height: 0.96rem;
    text-align: center;
    font-size: 0.28rem; }

.inpage .focus img {
  height: 6rem; }

.inpage .focus span.price {
  position: absolute;
  font-size: 0.28rem;
  color: #fff;
  background-color: #ff6565;
  display: inline-block;
  width: 2.56rem;
  height: 0.64rem;
  line-height: 0.64rem;
  text-align: center;
  border-radius: 2rem;
  right: 0.24rem;
  bottom: -0.32rem; }

.inpage .text {
  padding: 0.52rem 0.48rem;
  text-indent: 0.56rem;
  font-size: 0.28rem;
  color: #465050; }

.inpage .title {
  margin-bottom: 0 !important;
  margin-top: 0.54rem; }

.course {
  margin-top: 0.12rem;
  background-color: #fff;
  padding: 0.16rem 0; }
  .course h4 {
    font-size: 0.28rem;
    margin: 0 0.16rem;
    border-left: 2px solid #000;
    line-height: 0.2rem;
    padding-left: 0.28rem;
    font-weight: normal;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .course .box {
    margin: 0.16rem 0.42rem;
    background-color: #f7f7f7;
    padding: 0 0.2rem; }
    .course .box .head-ico img {
      width: 0.96rem;
      height: 0.96rem;
      border-radius: 100%; }
    .course .box .h_box {
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center;
      /* Safari */
      display: -webkit-box;
      display: flex; }
    .course .box li {
      height: 1.9rem;
      border-bottom: 1px dashed #ccc; }
      .course .box li h5 {
        font-size: 0.24rem; }
      .course .box li p {
        font-size: 1rem;
        color: #828282; }
      .course .box li div {
        margin: 0 0.2rem; }
      .course .box li span.focusBtn {
        width: 1.28rem;
        height: 0.44rem;
        line-height: 0.44rem;
        background-color: #ff6565;
        color: #fff;
        border-radius: 0.4rem;
        text-align: center; }
  .course .boxone li:last-child {
    border-bottom: none; }
  .course .boxone em {
    font-size: 0.36rem; }
  .course .boxone p {
    font-size: 0.24rem;
    color: #828282; }
  .course .boxtwo {
    border-radius: 0 0 0.12rem 0.12rem;
    background-color: #ededed; }
    .course .boxtwo .btn-buy {
      display: inline-block;
      width: 5.42rem;
      height: 1.9rem;
      background-color: #ff6565;
      margin-left: -0.4rem;
      font-size: 0.48rem;
      line-height: 1.9rem;
      text-align: center;
      color: #fff;
      margin-top: -0.2rem;
      border-radius: 0 0 0.03rem 0.03rem; }

.coursepic .picbox dd a {
  display: inline-block;
  position: relative; }
  .coursepic .picbox dd a p {
    position: absolute;
    width: 100%;
    bottom: 0.84rem;
    text-align: center;
    color: #fff;
    font-size: 0.28rem; }

.coursepic .picbox dd img.pic {
  display: block;
  width: 97.8%;
  height: 4.1rem;
  margin: 0 auto 0.08rem;
  border-radius: 0.12rem; }

.coursepic h4 {
  margin-bottom: 0.16rem; }
