body {
  background: #ededed; }

.evaluate {
  margin-top: 0.6rem;
  background: #fff; }
  .evaluate li.h_box {
    display: -webkit-box;
    display: flex;
    padding: 1rem 1.2rem;
    border-bottom: 1px solid #ededed; }
    .evaluate li.h_box img {
      display: block;
      width: 16rem;
      height: 9rem;
      margin-right: 1.5rem; }
    .evaluate li.h_box .name {
      padding-right: 0.1rem;
      font-size: 1.6rem; }
  .evaluate li:last-child {
    padding: 0.5rem 1.2rem 3rem; }
    .evaluate li:last-child h4 {
      margin-top: 2rem;
      font-size: 1.6rem; }
    .evaluate li:last-child p {
      font-size: 1.4rem; }

.evaluate dl {
  padding: 3rem 1.2rem;
  font-size: 1.6rem;
  color: #2f2f2f; }
  .evaluate dl dt {
    margin-bottom: 1.6rem; }
  .evaluate dl .grade {
    border: 1px solid #ededed;
    border-width: 1px 0;
    height: 4.2rem;
    line-height: 4.2rem;
    text-align: center; }
    .evaluate dl .grade .box {
      width: 25rem;
      overflow-x: auto;
      height: 4.2rem;
      margin: 0 auto; }
    .evaluate dl .grade .innerbox {
      width: 35rem; }
    .evaluate dl .grade span {
      display: inline-block;
      width: 3rem;
      height: 4rem;
      text-align: center; }
    .evaluate dl .grade span.cur {
      color: #ff6565;
      border-bottom: 2px solid #ff6565; }
  .evaluate dl h5 {
    font-size: 1.6rem;
    margin-top: 3.6rem; }
  .evaluate dl textarea {
    width: 100%;
    border: 1px solid #cbcbcb;
    background: whitesmoke;
    border-radius: 0.5rem;
    resize: none;
    margin-top: 0.8rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    color: #c9cbd5; }

.evaluate .button {
  background: #ff6565;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  width: 37.5rem; }

html, body {
  height: 100%; }

.topic {
  background: #fff;
  min-height: 100%; }

.topic .box {
  position: relative; }
  .topic .box img {
    display: inline-block;
    width: 100%;
    height: 21rem; }
  .topic .box .pictext {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 3.2rem; }
    .topic .box .pictext h4 {
      color: #fff;
      font-size: 1.4rem; }
    .topic .box .pictext p {
      font-size: 1rem;
      color: #999; }

.topic .box-li {
  padding: 0 0.4rem;
  position: relative; }
  .topic .box-li img {
    display: inline-block;
    width: 100%;
    height: 20.5rem; }
  .topic .box-li .pictext {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 1.3rem; }
    .topic .box-li .pictext h4 {
      color: #fff;
      font-size: 1.4rem; }
    .topic .box-li .pictext p {
      font-size: 1rem;
      color: #999; }

.topic .info {
  padding: 2.4rem;
  font-size: 1.4rem;
  color: #4c5051;
  line-height: 1.5; }

.topic .info-li {
  padding: 2.4rem 2rem;
  font-size: 1.4rem;
  color: #4c5051;
  line-height: 1.5; }
