.video {
    width: 7.5rem;
    height: 10rem;
    position: fixed;
    background: url("../img/food.jpg") no-repeat;
    background-size: cover;
    z-index: 999999;
}
.video video{
    width: 7.5rem;
    position: absolute;
    left:-8rem;
}
.video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: url('../img/play.png');
    background-size: 1.2rem 1.2rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    border: none;
}

.video .noplay:focus {
    border: none;
    outline: none;
}
.video .noplay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: url('../img/play.png');
    background-size: 1.2rem 1.2rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    border: none;
}

.video .play:focus {
    border: none;
    outline: none;
}

#scroll{
    position: absolute;
    top:10rem;
    overflow-y: scroll;
}

.header {
    background: #fff;
    color: #4d5051;
}
.header__main hgroup {
    padding-top: 0.2rem;
}

.header__main h3 {
    width: 5rem;
    max-height: 1rem;
    text-align: center;
    font-size: 0.36rem;
    color: rgb(76,80,81);
    display: block;
    margin: 0 auto;
}


.authorbox{overflow: hidden;}
.author {
    background-color: #fff;
    padding:0 0.2rem;
}

.author__title span {
    color: #4d5051;
    font-size: 0.2rem;
    display: inline-block;
    padding-bottom: 0.05rem;
    width: 0.7rem;
    border-bottom: 0.04rem solid #4d5051;
}

.author__info {
    margin-top: 0.4rem;
    float: left;
}

.author__info img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.author__info span {
    color: #4d5051;
    margin-left: 0.2rem;
    font-size: 0.2rem;
    font-weight: bold;
}

.author .add-care {
    width: 1.28rem;
    height: 0.44rem;
    color: #fff;
    background-color: #fd6669;
    float: right;
    margin-top: 0.58rem;
    border-radius: 0.28rem;
    font-size: 0.16rem;
    font-weight: 100;
}

.author .add-care:before {
    content: '';
    display: inline-block;
    width: 0.28rem;
    height: 0.28rem;
    background: url(../img/care.png);
    background-size: 0.28rem 0.28rem;
    vertical-align: middle;
    margin: 0.08rem;
}

.content {
    background: #fff;
    padding: 0.48rem;
    font-size: 0.32rem;
    font-weight: lighter;
    letter-spacing: 0.03rem;
    color: rgb(76,80,81);
}

.content img {
    width: 7.18rem;
    margin: 0 -0.32rem;
}

.recommend {
    background-color: #fff;
    padding-bottom: 0.16rem;
}

.recommend ul {
    padding: 0 0.16rem;
}

.recommend__info {
    margin-bottom: 0.16rem;
}

.recommend__info img {
    width: 2.12rem;
    height: 1.2rem;
}

.recommend__info > div {
    display: inline-block;
    width: 5.4rem;
    height: 0.6rem;
    text-align: left;
    position: absolute;
    margin-top: 0.3rem;
}
.recommend__info > div h5{
    width: 3.8rem;
    height: 0.28rem;
    font-size: 0.2rem;
    font-weight: 100;
    margin:0 0 0 0.4rem;
    color:rgb(47,47,47) ;
    white-space:nowrap;
    text-overflow:ellipsis; /* for internet explorer */
    overflow:hidden;
}
.recommend__info > div span{
    height: 0.28rem;
    font-size: 0.2rem;
    font-weight: 100;
    margin:0 0 0 0.4rem ;
    color:rgb(130,130,130) ;
}