.header{
	background-color: #fff;
}
.header .img{
	width: 100%;
	height: 10rem!important;
	background-size:auto 10rem!important;
	-webkit-background-size:auto 10rem!important;
}
.header__main h3{
	width: 5rem;
	max-height: 1rem;
	overflow: hidden;
	text-align: center;
	color: #4d5051;
	margin: 0.54rem auto 0.16rem auto;
	font-size: 0.36rem;
	display: block;
}

.header .site-info {
	padding: 0.4rem;
}
.site-info .des{
	text-align: justify;
	line-height: 0.6rem;
	color: rgb(76,80,81);
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: lighter;
	font-family: "PingFangSC-Light"!important;
}
.site-info .des img {
	width: 7.18rem!important;
	margin: 0.08rem -0.24rem!important;
}
.info ul{
	border-radius: 10px;
	margin-top: 0.5rem;
	overflow: hidden;
	box-shadow: 2px 2px 1px #ededed;
	background: rgb(247,247,247);
}
.info ul li{
	padding: 0 0.24rem;
}
.info ul li div{
	width: 6rem;
	padding: 0.45rem 0;
	border-bottom: 1px dashed #d8dae1;
}
.info ul li:last-child div{border: none;}
.info li p{
	display: inline-block;
}
.info li i{
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 0.7rem;
	height: 0.7rem;
}
.info li p span{
	color: rgb(47,47,47);
	font-size: 0.36rem;
	display: inline-block;
	max-width: 4.7rem;
}
.info li p strong{
	display: block;
	font-size: 0.24rem;
	color: rgb(130,130,130);
}


.site-info .address i{
	background:url(../img/car.png);
	background-size: 0.7rem 0.7rem;
}
.address{
	position: relative;
}
.address div{
	display:inline-block;
}
.address .to-map{
	display:inline-block;
	position: absolute;
	right: 0.44rem;
	top:50%;
	margin-top: -0.35rem;
	width: 0.7rem;
	height:0.7rem;
	background:url(../img/car.png);
	background-size: 0.7rem 0.7rem;
	border: none;
}

.site-info .tel i{
	background:url(../img/phone.png);
	background-size: 0.7rem 0.7rem;
}
.site-info .address{
	background-color:rgb(237,237,237);
}
.site-info .tel,
.site-info .service-time{
	background-color: rgb(237,237,237);
}

.site-service{
	background: #fff;
}
.site-service ul{
	padding:0.4rem;
	line-height: 0.6rem;
	letter-spacing: 2px;
	text-align: justify;
	color: rgb(76,80,81);
	font-size: 16px;
	font-weight: lighter;
	font-family: "PingFangSC-Light"!important;
}
.content .site-service ul img {
	width: 7.18rem!important;
	margin: 0.08rem -0.24rem!important;
}
.content .site-pic{
	padding: 0.08rem;
	background-color: #fff;
}
.site-service .red-btn{
	width: 2.8rem;
	height: 0.52rem;
	line-height: 0.52rem;
	border-radius: 0.52rem;
	float: right;
	font-size: 0.28rem;
	margin: 0.48rem 0.24rem 0.2rem 0;
	text-align: center;
	box-shadow: 0 2px 4px rgba(231,129,129, 0.6);
}
.content .site-pic figure{
	width: 7.34rem;
	position: relative;
	margin-bottom: 0.08rem;
}
.site-pic figcaption{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	padding-bottom: 0.76rem;
}
.site-pic img{
	width: 100%;
	height: 4.1rem;
	border-radius: 0.12rem;
}
.site-pic .imgbox{
	width: 7.34rem;
	height: 4.1rem;
	border-radius: 0.12rem;
	background-repeat:no-repeat;
	background-size:7.34rem auto!important;
	-webkit-background-size:7.34rem auto!important;
	background-position:center;
}

.order-pop{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.pop .close{
	background: url(../img/close.png);
	background-size: 16px 16px;
	position: absolute;
	right: 0.5rem;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.order-pop .pop{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5.6rem;
	height: 8.5rem;
	background-color: #fff;
	border-radius: 0.15rem;
	padding: 0.4rem;
}
.pop .key{
	font-weight: bold;
	color:rgb(47,47,47);
	font-size: 0.28rem;
	display: block;
	margin: 0.4rem 0 0.2rem 0;
}
.pop .key.first{
	margin-top: 0;
}

.pop input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ededed;
	outline: none;
	height:0.5rem ;
	line-height: 0.5rem;
	border-radius: 0;
}
.pop input::-webkit-input-placeholder { color:rgb(237,237,237); }

.order-type .type-btn{
	height: 0.52rem;
	width: 1.22rem;
	background: #ededed;
	color: #fff;
	border-radius: 0.3rem;
	line-height: 0.52rem;
	text-align: center;
	margin-right: 0.2rem;
	font-size: 0.2rem;
}
.order-type .check{
	background-color: #fd6669;
}

.pop li:last-child .red-btn{
	width: 4.26rem;
	height: 0.64rem;
	line-height: 2;
	letter-spacing: 0.2rem;
	border-radius: 0.36rem;
}
.pop li:last-child{
	text-align: center;
	line-height: 1.6rem;
}

/*移动*/

.header__main {
	position: relative;
}
.header__main .buy {
	position: absolute;
	top: 9.68rem;
	right: 0.2rem;
	width: 2.56rem;
	height:0.64rem;
	line-height: 0.64rem;
	border-radius: 2rem;
	text-align: center;
	font-weight: 100;
	font-size: 0.28rem;
	color: #fff;
	box-shadow:0px 2px 4px rgba(255,101,101,0.5) ;
}
.header__main .dis{
	background: #676a6c;
}
.course {
	background: #fff;
	padding: 0.48rem;
	padding-top: 0.3rem;
}
.course-des{
	color: rgb(76,80,81);
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: lighter;
	font-family: "PingFangSC-Light"!important;
}
.course-des img {
	width: 7.18rem!important;
	margin: 0.08rem -0.32rem!important;
}
.course-info {
	background: #fff;
}

.author__info {
	margin-top: 0rem;
	float: left;
}

.author__info img {
	width: 0.96rem;
	height: 0.96rem;
	border-radius: 50%;
	vertical-align: top;
}

.author__info span {
	color: #4d5051;
	margin-left: 0.2rem;
}
.author__info span b{
	font-size: 0.24rem;
	font-weight: bold;
rgb(47,47,47);
}
.author__info span strong{
	font-size: 0.16rem;
	font-weight: 100;
rgb(130,130,130);

}
.course-info-box {
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.course-info ul {
	margin-top: 0;
	box-shadow:0px 2px 4px rgba(0,0,0,0.16) ;
}

.course-info .teacher-box,
.course-time,
.people-num,
.food-type {
	background: #f7f7f7;
}

.title-box2 h3 {
	float: left;
	margin-top: 0rem;
	margin-bottom: 0;
}
.title-box2 span {
	float: right;
	margin: 0.15rem 0.2rem 0 0;
	font-size: 0.24rem;
}
.title-box2 span:before {
	content: '';
	display: inline-block;
	background: url(../img/shoppingcart.png);
	background-size: 0.4rem 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	vertical-align: -0.1rem;
	margin-right: 0.1rem;
}
.title-box2 span:after {
	content: '';
	display: inline-block;
	background: url(../img/nen.png);
	background-size: 0.1rem 0.2rem;
	width: 0.1rem;
	height: 0.2rem;
	vertical-align: -0.01rem;
}

.course-info li:last-child {
	margin-top: -1px;
	height: 1rem;
	font-size: 0.4rem;
	color: #fff;
	line-height: 1rem;
	text-align: center;
}

.teacher .red-btn {
	float: right;
	width: 1.28rem;
	height:0.44rem;
	font-size: 0.2rem;
	margin-top: 0.44rem;
}

.teacher .say {
	max-width: 4.7rem;
}

.teacher .red-btn:before {
	content: '';
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	background: url(../img/care.png);
	background-size: 0.26rem 0.26rem;
	vertical-align: middle;
	margin:0 0.08rem 0 0;
}

.people-num {
	position: relative;
}

.people-num svg {
	position: absolute;
	left: 1.55rem;
	top:0.6rem;
}
.course-time p{
	display: inline-block;
}
.course-time p:nth-of-type(2) {
	margin-left: 1rem;
}
.buy-box {
	height: 1.6rem!important;
	line-height: 1.6rem!important;
	background: rgb(255,101,101);
	box-shadow:0px 2px 4px rgba(0,0,0,0.16) ;
}
.buy-box a{
	display: block;
	color: #ffffff;
	height: 1.6rem!important;
	line-height: 1.6rem!important;
}
.dark-bg{
	width: 100%;
	height: 100%;
	background:rgba(47,47,47,0.7);
	z-index: 1;
	display: none;
	position: fixed;
	top:0;
	left: 0;
}
.buynow-div{
	z-index: 2;
	width: 100%;
	height:11rem;
	background: #fff;
	display: none;
	position: fixed;
	bottom:0;
	left: 0;
}
.buynow-div .editlist{
	margin:0 0.22rem 0 0.22rem;
}
.buynow-div .editlist>li{
	padding:0.2rem 0;
	position: relative;
	overflow: hidden;
}
.buynow-div .boedert{
	border-top: 1px solid rgb(237,237,237);
	padding-bottom: 0.25rem;
	min-height:0.52rem ;
	overflow: hidden;
}
/*.buynow-div .boedert1{
	border-top: 1px solid rgb(237,237,237);
	padding-bottom: 0.05rem;
	margin-top: 0.05rem;
}*/
.buynow-div .editlist>li span{
	color: rgb(47,47,47);
	font-size: 0.32rem;
	vertical-align: top;
}
.buynow-div .editlist>li .spantext{
	color: rgb(130,130,130);
	font-size: 0.28rem;
	/*vertical-align: top;*/
}
.buynow-div .editlist>li .span14{
	color: rgb(47,47,47);
	font-size: 0.28rem;
	line-height: 0.5rem;
	vertical-align: top;
}
.buynow-div .editlist>li p{
	color: rgb(47,47,47);
	font-size: 0.28rem;
}
.buynow-div .editlist>li .lightgrey{
	display: inline-block;
	color: rgb(155,155,155);
	font-size: 0.28rem;
	line-height: 0.5rem;
	max-width: 3rem;
}
/*.buynow-div .editlist>li textarea{
	display: inline-block;
	color: rgb(155,155,155);
	font-size: 0.28rem;
	margin-top: 1px;
	line-height: 0.5rem;
	width: 5rem;
	border: none;
	oulilne:none;
	resize:none
}*/
.buynow-div .editlist>li #remarks{
	display: inline-block;
	color: rgb(130,130,130);
	font-size: 0.28rem;
	margin-top: 1px;
	line-height: 0.4rem;
	width: 5.04rem;
	height: 0.8rem;
	border: none;
	oulilne:none;
	resize:none;
	margin-bottom: 0;
}
.buynow-div .editlist>li #desc{
	display: inline-block;
	color: rgb(130,130,130);
	font-size: 0.28rem;
	margin-top: 2px;
	width: 5.94rem;
	height: 1.35rem;
	line-height: 0.45rem;
	border: none;
	oulilne:none;
	resize:none
}
.buynow-div .editlist>li textarea:focus{
	oulilne:none;
}
#close-div{
	width:0.52rem ;
	height: 0.52rem;
	position: absolute;
	right:0.18rem ;
	top: 0.18rem;
}
.buynow-div .editpic{
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	float: right;
	right: 0.2rem;
	top:0.2rem;
}
.buynow-div .coupon{
	float: right;
	color: rgb(255,101,101);
	font-size: 0.28rem;
	font-weight: lighter;
	line-height: 0.5rem;
	overflow: hidden;
}
.buynow-div .coupon:after{
	content: '';
	display: inline-block;
	background: url(../img/nen2.png);
	background-size: 0.4rem 0.4rem;
	width: 0.4rem;
	height: 0.4rem;
	vertical-align: -0.09rem;
}
.buynow-div .numbox{
	float: right;
	margin-top: -1px;
}
.buynow-div .numbox input{
	display: inline-block;
	height: 0.48rem;
	width: 0.48rem;
	background-size: 0.4rem 0.4rem!important;
	-webkit-background-size:0.4rem 0.4rem!important;
	border: none;
}
.buynow-div .numbox input:first-child{
	background: url("../img/path2Copy.png") 0.04rem 0.04rem no-repeat ;
}
.buynow-div .numbox input:last-child{
	background: url("../img/group3.png") 0.04rem 0.04rem no-repeat;
}
.buynow-div .numbox .num{
	background: rgb(245,245,245);
	border: 1px solid rgb(203,203,203);
	border-radius: 0.08rem;
	width: 0.92rem;
	height: 0.48rem;
	line-height: 0.48rem;
	text-align: center;
	display: inline-block;
	margin: 0 0.3rem;
}
.buynow-div .titlepic{
	width:3.2rem!important;
	height: 1.8rem!important;
	border-radius: 0.08rem!important;
	display: inline-block;
	border: none!important;
}
.buynow-div .titletxt{
	display: inline-block;
	width: 2.88rem;
	height: 1.76rem;
	overflow: hidden;
	color: rgb(47,47,47);
	font-size: 0.32rem;
	line-height: 0.44rem;
	vertical-align: top;
	margin: 0.04rem 0.14rem 0 0.14rem;
}
.buynow-div .ttprice{
	position: absolute;
	bottom: 0;
	right:0;
	margin:0;
	width: 100%;
	height: 0.9rem;
	line-height: 0.9rem;
	border-top:1px solid rgb(237,237,237);
}
.buynow-div .ttprice span{
	font-size: 0.32rem;
	color: rgb(211,174,77);
	margin-left: 0.24rem;
}
.buynow-div .ttprice s{
	font-size: 0.28rem;
	color: rgb(203,203,203);
	margin-left: 0.14rem;
	text-decoration: line-through;
}
.buynow-div .editbtn{
	float: right;
	height: 0.9rem;
	line-height: 0.9rem;
	width: 1.8rem;
	background: rgb(255,101,101);
	font-size: 0.28rem;
	color: #fff;
	letter-spacing: 2px;
}
.editarea{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding:0.25rem ;
	display: none;
	z-index: 3;
}
.editarea textarea{
	width: 6.6rem;
	height: 2rem;
	padding: 0.2rem;
	line-height: 0.5rem;
	color: #666666;
	background: rgb(247,247,247);
	border: none;
	font-size: 0.28rem;
	resize:none;
}
.editarea button{
	margin-top: 0.25rem;
	width: 7rem;
	height:0.9rem;
	line-height: 0.9rem;
	background: rgb(255,101,101);
	color: #fff;
	font-size:0.28rem ;
}

.confine{
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 12px;
	color: rgb(47,47,47);
	margin-right: 0.46rem;
	margin-bottom: 0.08rem;
}