/**
 * 高度小于504
*/
.swiper-slide-1 .content,
.swiper-slide-3 .content,
.swiper-slide-4 .content {
  padding-top: .4rem /* 30/75 */;
}
.swiper-slide-5 .content {
  padding-top: 0;
}
.swiper-slide-1 .space-line {
  margin-top: .4rem /* 30/75 */;
  margin-bottom: .4rem /* 30/75 */;
}
.open-letter-text {
  position: static;
  margin-top: .8rem /* 60/75 */;
}
.swiper-slide-4 .control-btn {
  margin-top: .2rem /* 15/75 */;
}
.swiper-slide-4-footer {
  position: static;
  margin-top: .666667rem /* 50/75 */;
}