/**
 * 2018.07.06
 * sandman.csser@foxmail.com
 */

html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}

body {
  margin: 0 auto;
  padding: 0;

  font-size: 16px;
  font-family: Helvetica Neue, Helvetica,Arial, SCREEN GP Sans SC, sans-serif;
}

html,
body,
.story-swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.guide-arrow {
  position: fixed;
  left: 0;
  right: 0;
  bottom: .346667rem /* 26/75 */;
  z-index: 10;

  height: .24rem /* 18/75 */;

  animation: updownupdown 3s infinite;

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;

    width: .426667rem /* 32/75 */;
    height: .24rem /* 18/75 */;
    overflow: hidden;

    transform: translateX(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}


// 短视频
.short-video-wrap {
  overflow: hidden;

  .video-box {
    width: 100%;
    height: 5.733333rem /* 430/75 */;
    overflow: hidden;
  }

  video.short-video {
    display: block;

    width: 100%;
    height: 100%;
  }
}

// 完整视频
.full-video-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;

  video.full-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.full-video-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  margin-left: -44px;
  margin-top: -44px;

  width: 88px;
  height: 88px;
  overflow: hidden;

  border-radius: 100%;

  animation: spin 2s infinite linear;

  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.swiper-slide {
  text-align: center;
}
.swiper-slide-1 {
  .logo img {
    width: 3.626667rem /* 272/75 */;
  }
  .content {
    padding-top: .8rem /* 60/75 */;
  }
  .space-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .533333rem /* 40/75 */;
    margin-bottom: .6rem /* 45/75 */;

    width: 1.2rem /* 90/75 */;
    height: .08rem /* 6/75 */;
    background: rgba(156,29,34,1);
  }
}

// 第一屏
.swiper-slide-1-letter {
  width: 100%;
  height: 5.04rem /* 378/75 */;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.open-letter-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 1.253333rem /* 94/75 */;

  width: 100%;
  height: .4rem /* 30/75 */;
  overflow: hidden;

  opacity: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// sub slide
.sub-swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sub-swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  text-align: center;
}
.sub-swiper-slide {
  height: 12.8rem /* 960/75 */;

  background-color: #eee;

  img {
    display: block;
    width: 100%;
  }
}
.sub-swiper-pagination {
  position: static;
  
  margin: 0;
  overflow: hidden;

  .swiper-pagination-bullet {
    width: .266667rem /* 20/75 */;
    height: .08rem /* 6/75 */;

    background: rgba(220,220,220,1);
    border-radius: 0 !important;
    opacity: 1 !important;
  }
  .swiper-pagination-bullet-active {
    background: rgba(156,29,34,1);
  }
}

.swiper-slide-3 {
  .content {
    padding-top: .6rem /* 45/75 */;
  }
  video.sub-video {
    width: 100%;
  }
  .sub-swiper-slide {
    height: 12.4rem /* 930/75 */;
    overflow: hidden;
  }
}
.swiper-slide-3-letter-1 {
  margin-bottom: .266667rem /* 20/75 */;

  width: 100%;
  height: .613333rem /* 46/75 */;
  overflow: hidden;

  background: no-repeat center;
  background-size: contain;
}
.swiper-slide-3-letter-2 {
  width: 100%;
  height: .96rem /* 72/75 */;
  overflow: hidden;

  background: no-repeat center;
  background-size: contain;
}


.swiper-slide-4 {
  .content {
    padding-top: 1.333333rem /* 100/75 */;
  }
  .product-outer img {
    width: 100%;
  }
  .control-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .373333rem /* 28/75 */;

    width: 4.053333rem /* 304/75 */;
    height: 1.066667rem /* 80/75 */;

    color: #fff;
    font-size: .373333rem /* 28/75 */;
    line-height: 1.066667rem /* 80/75 */;
    background:rgba(156,29,34,1);
    border-radius: .106667rem /* 8/75 */;
    border: .026667rem /* 2/75 */ solid rgba(156,29,34,1);
  }
}
.swiper-slide-4-letter {
  width: 100%;
  height: 2.266667rem /* 170/75 */;
  overflow: hidden;

  background: no-repeat center;
  background-size: contain;
}
.swiper-slide-4-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: .666667rem /* 50/75 */;

  img {
    width: 4.053333rem /* 304/75 */;
  }
  p {
    padding-top: .266667rem /* 20/75 */;

    color: #9b9b9b;
    font-size: .213333rem /* 16/75 */;
  }
}

.swiper-slide-5 {
  > a {
    display: block;
  }
  img {
    display: block;

    width: 100%;
  }
  .content {
    padding-top: .6rem /* 45/75 */;
  }
}


//
// loading screen
//
.loading-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;

  background: rgb(255,255,255);

  .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    margin-bottom: .533333rem /* 40/75 */;

    width: 100%;
    height: .506667rem /* 38/75 */;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/logo2@2x.png');
  }
  .loading-spin {
    width: 56px;
    height: 56px;
    overflow: hidden;

    border-radius: 100%;

    animation: spin 2s infinite linear;

    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@keyframes updownupdown {
  50% {
    transform: translateY(-20px);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@import './base64.scss';