<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"
          name="viewport">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="imagetoolbar" content="false">
    <script src="../js/tingyun-rum.js"></script>
    <link href="../css/common.css?ver=420" rel="stylesheet">
    <link href="../css/home-user.css?ver=420" rel="stylesheet">
    <title>导师主页</title>
    <script type='text/javascript'>
        !function (e, t, n, g, i) {
            e[i] = e[i] || function () {
                (e[i].q = e[i].q || []).push(arguments)
            }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
        }(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");
        gio('init', '80624a28abff7348', {});
    </script>
</head>
<body>
<div class="personinfo">
    <header>
        <img class="headimg" :src="datainfo.picture">
        <div class="headinfo">
            <span class="nickname" v-text="datainfo.name">Jakbob</span>
            <p class="remark" v-if="datainfo.remark" v-text="datainfo.remark" @click="remarkall">
            </p>
        </div>
    </header>

    <div class="empty" v-if="datalist.count == 0 && datainfo.myWorkCount == 0">
        <img src="../img/empty.png">
        <p>该用户什么都没有留下</p>
    </div>

    <div v-else>
        <p class="bigtitle" v-if="datalist.count !== 0">
            <span>课程</span>
            <a @click="deeplikopen">全部</a>
        </p>
        <ul class="courseul">
            <li v-for="item in datalist" @click="jump(item.id)">
                <div class="img" :style="{backgroundImage: 'url(' +item.picture+ ')'}"></div>
                <img class="tutorimg" :src="item.cookList[0].picture">
                <p class="tutorname">
                <span class="txtgrey2">
                    <b>主讲人：</b>
                    <b v-text="item.cookNames"></b>
                </span>
                </p>
                <h3 v-text="item.name">韩式经典料理韩式经典料理韩式经典料理韩式</h3>
                <span class="price"><b v-text="item.price">300</b>.00</span>
                <p class="underline">
                    <span class="txtgrey2">{{format2(item.startTime)}}</span>
                    &nbsp;&nbsp;
                    <span class="txtgrey2">{{item.storeName}}</span>
                </p>
            </li>
        </ul>

        <p class="bigtitle" v-if="datainfo.myWorkCount !== 0">
            <span>厨房攻略</span>
            <a @click="deeplikopen">全部</a>
        </p>
        <ul class="videoul">
            <li v-for="(item,index) in datawork">
                <a :href="item.pageUrl" class="svideo" :style="{backgroundImage: 'url(' + item.picture.path + ')'}"></a>
                <div v-if="item.time !== '' && item.time !== null" class="time" v-html="item.time"></div>
                <h3 class="stitle" v-html="item.title"></h3>
            </li>
        </ul>
    </div>

    <div class="darkbg" style="display: none;">
        <div class="remarkall">
            <img src="../img/closex.png" @click="closex">
            <div class="remarkalltext" v-text="datainfo.remark"></div>
        </div>
    </div>
</div>

<div class="footer" style="display: none;">
    <img src="../img/logo_gold2.png">
    <p>
        <span>方太生活家</span>
        <span>分享生活味道</span>
    </p>
    <span id="jump" class="deeplikopen">打开</span>
    <span id="download">下载</span>
</div>

<script type="text/javascript" src='../js/lib.js'></script>
<script type="text/javascript" src='../js/api.js'></script>
<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource1.3.4.js"></script>
<script type="text/javascript" src='../js/ft.js'></script>
<script type="text/javascript" src='../js/jquery.cookie.js'></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/BigPictureOpen.js"></script>
<script src="../js/url.js"></script>
<script type="text/javascript" src="../js/UMAnalytics.js"></script>
<script type="text/javascript" src="../js/ajaxsetup2.js"></script>

<link href="../css/hls/video-js.css" rel="stylesheet">
<script src="../js/hls/video.js"></script>
<script type="text/javascript" src='../js/deeplink.js'></script>
<script>
    /*获取url*/
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    var id = String(GetQueryString("id"));
    var device = GetQueryString("device");
    if (device == null || device == "null") {
        $(".footer").show();
    } else {
        $(".footer").hide();
    }

    var vm = new Vue({
        el: '.personinfo',
        data: {
            data: {},
            datainfo: {},
            datalist: {},
            dataother: {},
            datawork: {}
        },
        created: function () {
            var $this = this;
            /*导师信息*/
            $(document).ready(function () {
                $.ajax({
                    url: urlport + 'cook/home',
                    type: 'POST',
                    data: JSON.stringify({"cookId": id}),
                    timeout: 5000, //超时时间
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json', //返回的数据格式
                    success: function (datainfo) {
                        console.log("导师信息：");
                        console.log(datainfo);
                        callback(datainfo);
                    },
                    error: function (errorMsg) {
                        console.log('错误');
                        console.log(errorMsg);
                    }
                });

                function callback(datainfo) {
                    if (datainfo.status == 200) {
                        $this.datainfo = datainfo.data;
                    }

                    /*title取值*/
                    var txt = $this.datainfo.name;
                    if (txt == undefined) {
                        $('head title').text("导师主页");
                    } else {
                        $('head title').text($this.datainfo.name + "的方太生活家主页");
                    }

                    /*分享链接专用*/
                    var sharetitle = $this.datainfo.name + "的方太生活家主页";
                    var sharedesc = "快来看看" + $this.datainfo.name + "老师的课程吧！";
                    var shareimg = $this.datainfo.picture;
                    var sharestr = $this.datainfo.url;
                    var sharelink = sharestr.replace(/api/, "h5");
                    /*微信分享专用*/
                    $.ajax({
                        type: 'GET',
                        url: urlport + 'wx/wxConfig.json?url=' + encodeURIComponent(window.location.href.split('#')[0]),
                        success: function (data) {
                            // console.info(data.appId);
                            wx.config({
                                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                                appId: data.appId, // 必填，公众号的唯一标识
                                timestamp: data.timestamp, // 必填，生成签名的时间戳
                                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                                signature: data.signature,
                                jsApiList: [
                                    "onMenuShareTimeline",
                                    "onMenuShareAppMessage",
                                    "onMenuShareQQ",
                                    "onMenuShareWeibo",
                                    "onMenuShareQZone"
                                ]
                            });
                            wx.ready(function () {
                                //分享给朋友圈
                                wx.onMenuShareTimeline({
                                    title: sharetitle, // 分享标题
                                    link: sharelink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                    imgUrl: shareimg, // 分享图标
                                    success: function () {
                                        // 用户确认分享后执行的回调函数
                                    },
                                    cancel: function () {
                                        // 用户取消分享后执行的回调函数
                                    }
                                });
                                //分享给朋友
                                wx.onMenuShareAppMessage({
                                    title: sharetitle, // 分享标题
                                    desc: sharedesc, // 分享描述
                                    link: sharelink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                    imgUrl: shareimg, // 分享图标
                                    type: '', // 分享类型,music、video或link，不填默认为link
                                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                                    success: function () {
                                        // 用户确认分享后执行的回调函数
                                    },
                                    cancel: function () {
                                        // 用户取消分享后执行的回调函数
                                    }
                                });
                            });
                        },
                        error: function (xhr, type) {
                            //alert(111);
                        }
                    })
                }
            });
            /*课程列表*/
            $(document).ready(function () {
                $.ajax({
                    url: urlport + 'cook/curriculumn',
                    type: 'POST',
                    data: JSON.stringify({
                        pageNum: 1,
                        pageSize: 5,
                        cookId: id
                    }),
                    timeout: 5000, //超时时间
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json', //返回的数据格式
                    success: function (datalist) {
                        console.log("课程列表：");
                        console.log(datalist);
                        callback(datalist);
                    },
                    error: function (errorMsg) {
                        console.log('错误');
                        console.log(errorMsg);
                    }
                });

                function callback(datalist) {
                    if (datalist.status == 200) {
                        $this.datalist = datalist.data;
                        // console.log($this.datalist);
                    }
                }
            });
            /*短视频列表*/
            $(document).ready(function () {
                $.ajax({
                    url: urlport + 'videoShort/list',
                    type: 'POST',
                    data: JSON.stringify({
                        "pageNum" : 1,
                        "pageSize" : 10,
                        "cookId" : id
                    }),
                    timeout: 5000, //超时时间
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json', //返回的数据格式
                    success: function (datawork) {
                        console.log("短视频列表：");
                        console.log(datawork);
                        callback(datawork);
                    },
                    error: function (errorMsg) {
                        console.log('错误');
                        console.log(errorMsg);
                    }
                });
                function callback(datawork) {
                    if (datawork.status == 200) {
                        for (var i = 0; i < datawork.data.length; i++) {
                            // console.log(data.data[i].pageUrl);
                            var pageUrl = datawork.data[i].pageUrl;
                            pageUrl = pageUrl + "&device=" + device + "&jump=jump";
                            // console.log(pageUrl);
                            datawork.data[i].pageUrl = pageUrl;
                        }
                        $this.datawork = datawork.data;
                        console.log($this.datawork);
                    }
                }
            });

        },
        methods: {
            remarkall: function () {
                $(".darkbg").show();
                $(".footer").css({"z-index":999998});
            },
            closex: function () {
                $(".darkbg").hide();
                $(".footer").css({"z-index":999999});
            },
            addnum: function (m) {
                return m < 10 ? '0' + m : m
            },
            format2: function (starttime) {
                var $this = this;
                var time = new Date(starttime);
                var year = time.getFullYear();
                var month = time.getMonth() + 1;
                var date = time.getDate();
                var hour = time.getHours();
                var minute = time.getMinutes();
                return year + '年' + $this.addnum(month) + '月' + $this.addnum(date) + '日' + $this.addnum(hour) + ':' + $this.addnum(minute);
            },
            jump: function (id) {
                   curriculumurl = "https://h5.fotilestyle.com/html/coursedetail.html?id=" + id + "&device=" + device + "&jump=jump";
//              curriculumurl = "http://h5.fotilestyle.com/fotilestyle-test2/html/coursedetail.html?id=" + id + "&device=" + device + "&jump=jump";
                window.location.href = curriculumurl;
            },
            deeplikopen: function (obj) {
                function GetQueryString(name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]);
                    return null;
                }

                var id = GetQueryString("id");

                function GetPageName() {
                    var url = window.location.href;//获取完整URL
                    var tmp = location.pathname.replace(/(.+)[＼＼/]/, "");//获取带后缀的文件名称
                    name = tmp.replace(/.html/, "");//获取不带后缀的文件名称
                    return name;
                }

                // alert(GetPageName());
                /*页面参数（页面类型+id）*/
                var id = id;
                var refid = id;
                var action = GetPageName();
                var weburl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + id;
                var imageURL = "";
                var shareTitle = "";
                var shareSubTitle = "";
                var iostype = "";

                console.log({
                    "id": id,
                    "action": action,
                    "weburl": weburl,
                    "refid": refid,
                    "imageURL": imageURL,
                    "shareTitle": shareTitle,
                    "shareSubTitle": shareSubTitle,
                    "iostype": iostype
                });

                var urlright = "?action=" + encodeURIComponent(action) +
                    "&id=" + encodeURIComponent(id) +
                    "&weburl=" + encodeURIComponent(weburl) +
                    "&refid=" + encodeURIComponent(refid) +
                    "&imageURL=" + encodeURIComponent(imageURL) +
                    "&shareTitle=" + encodeURIComponent(shareTitle) +
                    "&shareSubTitle=" + encodeURIComponent(shareSubTitle) +
                    "&iostype=" + encodeURIComponent(iostype);

                /*判断是IOS还是Android机型*/
                var u = navigator.userAgent;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                // console.log('是否是Android：' + isAndroid);
                // console.log('是否是iOS：' + isiOS);

                /*判断是否微信浏览器内打开*/
                function isWeiXin() {
                    var ua = window.navigator.userAgent.toLowerCase();
                    // console.log(ua);//mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
                    if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                        return true;
                    } else {
                        return false;
                    }
                }

                if (isWeiXin()) {
                    console.log(" 是来自微信内置浏览器");
                    /*弹出浏览器打开提示*/
                    var alertstr = "<div class='blackbg'><div class='reminder'>" +
                        "<img src='../img/arrowdashed.png' >" +
                        "<p class='title'>在微信中无法打开？</p>" +
                        "<p>请点击右上角，选择在浏览器或Safari中打开。</p>" +
                        "</div></div>";
                    $("body").prepend(alertstr);
                    $("html,body").css({"height": "100%", "position": "relative", "overflow": "hidden"}); //禁用滚动条

                    /*隐藏提示*/
                    $(".blackbg").unbind().click(function () {
                        $(".blackbg").remove();
                        $("html,body").css({"height": "auto", "position": "static", "overflow": "auto"}); //启用滚动条
                    });
                    $(".reminder").click(function (event) {
                        event.stopPropagation();//阻止冒泡
                    });

                } else {
                    console.log("不是来自微信内置浏览器");
                    /*深链接打开*/
                    var deeplinkurl = "fotile://api.fotilestyle.com/" + urlright;
                    // alert(deeplinkurl);
                    window.location.href = deeplinkurl;
                    /***打开app的协议***/
                    window.setTimeout(function () {
                        if (isiOS == true) {/*ios手机*/
                            window.location.href = "https://gio.ren/re0Y923";
                        } else if (isAndroid == true) {/*Android手机*/
                            window.location.href = "https://gio.ren/rBZ2ApB";
                        }
                    }, 1000);

                }
            }

        }
    });


</script>


</body>
</html>