<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport"
          name="viewport">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <script src="../js/tingyun-rum.js"></script>
    <link href="../css/common.css?ver=420" rel="stylesheet">
    <link href="../css/video-short.css?ver=420" rel="stylesheet">
    <title>短视频详情</title>
    <script>
        !function (e, t, n, g, i) {
            e[i] = e[i] || function () {
                (e[i].q = e[i].q || []).push(arguments)
            }, n = t.createElement("script"), tag = t.getElementsByTagName("script")[0], n.async = 1, n.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + g, tag.parentNode.insertBefore(n, tag)
        }(window, document, "script", "assets.growingio.com/2.1/gio.js", "gio");
        gio('init', '80624a28abff7348', {});
    </script>
</head>
<body style="overflow-x: hidden;">
<video id="vdtest" controls="controls" src="" poster="" style="width: 100%;display: none;">
    <source type="video/mp4">
</video>
<div id="videobox" class="video">
    <video id="vd" controls="controls" src="" poster="">
        <source type="video/mp4">
    </video>
    <button class="play"></button>
    <div class="time"></div>
</div>
<div class="vide-share">
    <div class="tit">
        <h3 v-html="data.title"></h3>
        <a class="cooker"  @click="jumpto(cooker.url,cooker.id)">
            <img :src="cooker.picture.path">
            <p class="name" v-html="cooker.cookName"></p>
            <p class="cookdesc" v-html="cooker.remark"></p>
        </a>
        <p class="introduct" v-html="data.content"></p>
    </div>
    <div class="recommend">
        <p class="title">相关推荐</p>
        <ul class="list">
            <li v-for="item in datalist"><a :href="item.pageUrl">
                <div class="img" :style="{backgroundImage: 'url(' + item.picture.path + ')'}"></div>
                <div v-if="item.time !== '' && item.time !== null" class="time" v-html="item.time"></div>
                <p v-html="item.title"></p>
            </a></li>
        </ul>
    </div>
</div>
<div class="footer" style="display: none;">
    <img src="../img/logo_gold2.png">
    <p>
        <span>方太生活家</span>
        <span>分享生活味道</span>
    </p>
    <span id="jump" class="deeplikopen">打开</span>
    <span id="download">下载</span>
</div>
<script src="../js/lib.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource1.3.4.js"></script>
<script src="../js/url.js"></script>
<script src="../js/ft.js"></script>
<script src="../js/UMAnalytics.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<link href="../css/hls/video-js.css" rel="stylesheet">
<script src="../js/hls/video.js"></script>
<script src="../js/ft.js"></script>
<script src="../js/deeplink.js"></script>
<script type="text/javascript" src="../js/ajaxsetup.js"></script>
<script>

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    var id = GetQueryString("id");
    var device = GetQueryString("device");

    console.log(device);
    if (device == null || device == "null") {
        $(".footer").show();
    } else {
        $(".footer").hide();
        $(".vide-share").css({"padding-bottom":"0.48rem"});
    }

    /*选项卡*/
    function changeTab(tabCon_num) {
        for (i = 0; i <= 1; i++) {
            document.getElementById("tabCon_" + i).style.display = "none"; //将所有的层都隐藏
            document.getElementById("tab_" + i).classList.remove("selected");
        }
        document.getElementById("tabCon_" + tabCon_num).style.display = "block";//显示当前层
        document.getElementById("tab_" + tabCon_num).classList.add("selected");
    }

    var vm = new Vue({
        el: '.vide-share',
        data: {
            data: {},
            cooker: {},
            datalist: {},
            jsoninfo: {
                "id": id,
                "type": 14,
                "sharetitle": "",
                "sharedesc": "",
                "shareimg": "",
                "sharelink": "",
            }

            // http: {
            //     headers: {
            //         token: 'Basic YXBpOnBhc3N3b3Jk'
            //     }
            // }
        },
        created: function () {
            var $this = this;
            this.$http.post(urlport + '/videoShort/detail', {"id": id}).then(function (data) {
                var data = data.data;
                if (data.status == 200) {
                    $this.data = data.data;
                    $this.cooker = data.data.cook;
                    $this.cooker.url = data.data.cook.url + "&device=" + device +"&jump=jump";

                    console.info($this.data);

                    /*友盟埋点-页面访问*/
                    UMAnalyticsAgent.trackWithProperty("h5页面访问", {
                        "页面类型": "短视频详情",
                        "页面名称": data.data.title
                    });

                    document.setTitle = function (t) {
                        document.title = t;
                        var i = document.createElement('iframe');
                        i.style.display = 'none';
                        i.onload = function () {
                            setTimeout(function () {
                                i.remove();
                            })
                        }
                        document.body.appendChild(i);
                    }
                    setTimeout(function () {
                        document.setTitle($this.data.title);
                    })

                    /*视频链接*/
                    $('.video').css({
                        "background": "url(" + $this.data.picture.path + ") no-repeat",
                        "background-size": "100% auto"
                    });
                    $('#videobox').find('#vd').attr('src', $this.data.url);
                    console.log($this.data.time);
                    if ($this.data.time !== "" && $this.data.time !== null) {
                        $("#videobox .time").text($this.data.time);
                    } else {
                        $("#videobox .time").hide();
                    }
                    $('#vdtest').attr('src', $this.data.url);


                    (function () {
                        var video = $('#videobox video')[0],
                            playBtn = $('#videobox .play');
                        playBtn.on('click', function () {
                            $(this).hide();
                            var vheight = $("#videobox video").height();
                            $('#vd').css({"position": "absolute", "left": "0"});
                            $("#videobox").css({height: vheight + "px"});
                            video.play();
                            $('.video').css({"background": "#000"});
                            video.controls = true;
                            $("#videobox .time").hide();
                        });

                        video.addEventListener('ended', function () {
                            playBtn.show();
                            $('.video').css({
                                "background": "url(" + $this.data.picture.path + ") no-repeat",
                                "background-size": "100% auto"
                            });
                            video.controls = false;
                            $("#videobox .time").show();
                            $('#vd').css({"position": "absolute", "left": "-10rem"});
                            $("#videobox").css({"height": "4.2rem"});
                        }, false);
                        video.addEventListener('pause', function () {
                            playBtn.hide();
                            $('.video').css({"background": "#000"});
                            video.controls = true;
                        }, false);
                    })();

                    /*计算视频时长*/
                    // setTimeout(function(){
                    //     videoTime=document.getElementById("vdtest").duration;
                    //     console.log(videoTime);
                    //     var minTime= videoTime/60;
                    //     console.log(Math.round(minTime));
                    // },2000);


                    $.ajax({
                        type: 'POST',
                        url: urlport + "/videoShort/recommend",
                        data: JSON.stringify({
                            "pageNum": 1,
                            "pageSize": 4,
                            "type": 1
                        }),
                        timeout: 5000, //超时时间
                        contentType: "application/json;charset=utf-8",
                        dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            console.log(data);
                            var data = data;
                            if (data.status == 200) {
                                $this.datalist = data.data;

                                for (var i = 0; i < data.data.length; i++) {
                                    // console.log(data.data[i].pageUrl);
                                    var pageUrl = data.data[i].pageUrl;
                                    pageUrl = pageUrl + "&device=" + device + "&jump=jump";
                                    // console.log(pageUrl);
                                    data.data[i].pageUrl = pageUrl;
                                }
                                console.info($this.datalist);

                            }
                        },
                        error: function (xhr, type) {
                            //alert(111);
                        }
                    });

                    /*GIO参数集合*/
                    //类型
                    if ($this.data.type == 1) {
                        var type = "烹饪技巧";
                    } else if ($this.data.type == 2) {
                        var type = "厨电使用";
                    }
                    //发布时间
                    var date = new Date($this.data.createat);
                    Y = date.getFullYear() + '-';
                    M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                    D = date.getDate() + ' ';
                    h = date.getHours() + ':';
                    m = date.getMinutes() + ':';
                    s = date.getSeconds();
                    var creattime = Y + M + D + h + m + s;
                    console.log(creattime);

                    //custom page code begin here
                    gio("page.set", "shortvideo", "短视频");//页面类型
                    gio("page.set", "ID", $this.data.id);//id
                    gio("page.set", "titlesv", $this.data.title);//标题
                    gio("page.set", "type", type);//类型
                    gio("page.set", "creattime", creattime);//发布时间
                    gio("page.set", "time", $this.data.time);//视频时长
                    //custom page code end here
                    gio('send');

                    /*GIO参数集合发送完毕*/


                    /*分享链接专用*/
                    var sharetitle = $this.data.title;
                    var sharedesc = $this.data.remark;
                    var shareimg = $this.data.picture.path;
                    var sharestr = $this.data.pageUrl;
                    var sharelink = sharestr.replace(/api/, "h5");
                    var jsoninfo = {
                        "id": id,
                        "type": 14,
                        "sharetitle": sharetitle,
                        "sharedesc": sharedesc,
                        "shareimg": shareimg,
                        "sharelink": sharelink
                    };
                    window.setTimeout(function () {
                        console.info(jsoninfo);
                        /*APP分享专用*/
                        if (device == null || device == "null") {
                            console.log("不是APP打开");
                        } else {
                            ft.shareInfo(jsoninfo, function (result) {

                            });
                        }
                    }, 2000);
                    /*微信分享专用*/
                    $.ajax({
                        type: 'GET',
                        url: urlport + 'wx/wxConfig.json?url=' + encodeURIComponent(window.location.href.split('#')[0]),
                        success: function (data) {
                            console.info(data.appId);
                            wx.config({
                                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                                appId: data.appId, // 必填，公众号的唯一标识
                                timestamp: data.timestamp, // 必填，生成签名的时间戳
                                nonceStr: data.nonceStr, // 必填，生成签名的随机串
                                signature: data.signature,
                                jsApiList: [
                                    "onMenuShareTimeline",
                                    "onMenuShareAppMessage",
                                    "onMenuShareQQ",
                                    "onMenuShareWeibo",
                                    "onMenuShareQZone"
                                ]
                            });
                            wx.ready(function () {
                                //分享给朋友圈
                                wx.onMenuShareTimeline({
                                    title: sharetitle, // 分享标题
                                    link: sharelink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                    imgUrl: shareimg, // 分享图标
                                    success: function () {
                                        // 用户确认分享后执行的回调函数
                                    },
                                    cancel: function () {
                                        // 用户取消分享后执行的回调函数
                                    }
                                });
                                //分享给朋友
                                wx.onMenuShareAppMessage({
                                    title: sharetitle, // 分享标题
                                    desc: sharedesc, // 分享描述
                                    link: sharelink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                    imgUrl: shareimg, // 分享图标
                                    type: '', // 分享类型,music、video或link，不填默认为link
                                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                                    success: function () {
                                        // 用户确认分享后执行的回调函数
                                    },
                                    cancel: function () {
                                        // 用户取消分享后执行的回调函数
                                    }
                                });
                            });
                        },
                        error: function (xhr, type) {
                            //alert(111);
                        }
                    })


                }

            }, function () {
                console.info('error');
            });

        },
        methods: {
            jumpto: function (url,id) {
                if (device == null || device == "null") {
                    alert(url);
                    //不是APP打开
                    window.location.href = url;

                } else {
                    alert(id);
                    //是APP打开
                    ft.tutorInfo({
                        id: id,
                        type: "0"
                    }, function (result) {
                    })
                }
            }
        }
    });


</script>
</body>
</html>