html, body {
    height: 100%;
    background-color: #fff;
}

.video {
    width: 100%;
    height: 4.22rem;
    position: relative;
    z-index: 999999;
    background: #000000;
}

.video video {
    width: 7.5rem;
    height: 4.22rem;
    /*position: absolute;*/
    /*left: -8rem;*/
}
.video #live-video {
    width: 100%;
    height: 4.22rem;
    position: absolute;
    left: -10rem;
}
.video .vjs-big-play-button{display: none;}
.video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.28rem;
    height: 1.28rem;
    background: url('../img/play.png');
    background-size: 1.28rem 1.28rem;
    margin-left: -0.64rem;
    margin-top: -0.64rem;
    border: none;
}

.video .noplay:focus {
    border: none;
    outline: none;
}

.video .noplay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: url('../img/play.png');
    background-size: 1.2rem 1.2rem;
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    border: none;
}

.video .play:focus {
    border: none;
    outline: none;
}

.vide-share {
    position: absolute;
    top: 4.2rem;
    background-color: #fff;
}

/*.vide-share #video {*/
/*background-color: #999;*/
/*height: 4.2rem; }*/
/*.vide-share .videobox {*/
/*position: relative; }*/
/*.videobox .video-js{*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/
/*.vide-share video{*/
/*height: 4.2rem;*/
/*width: 100%;}*/
/*.vide-share .videobox .num {*/
/*position: absolute;*/
/*display: inline-block;*/
/*width: 1.26rem;*/
/*height: 0.6rem;*/
/*line-height: 0.6rem;*/
/*text-align: center;*/
/*bottom: 0.6rem;*/
/*color: #fff;*/
/*font-size: 10px;*/
/*background: #2f2f2f url("../img/account.png") 0.12rem center no-repeat;*/
/*background-size: 0.36rem 0.36rem;*/
/*padding-left: 0.36rem;*/
/*border-radius: 0.6rem;*/
/*left: 0.8rem;*/
/*bottom: 1rem; }*/

.vide-share .tit {
    position: relative;
    width: 6.3rem;
    margin: 0 0.6rem;
    margin-bottom: 1.92rem;
}

.vide-share .tit img {
    display: block;
    margin: 0 auto;
    margin-top: 0.96rem;
    margin-bottom: 0.3rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
}

.vide-share .tit .name {
    margin: 0 auto;
    margin-bottom: 0.2rem;
    text-align: center;
    max-width: 5rem;
}

.vide-share .tit .cookdesc {
    margin: 0 auto;
    width: 4.68rem;
    line-height: 0.4rem;
    font-size: 12px;
    color: rgb(154, 154, 154);
    text-align: center;
}

.vide-share .tit h3 {
    margin: 0.48rem 0 0.28rem 0;
    line-height: 0.4rem;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.vide-share .tit .introduct {
    font-weight: normal;
    text-align: justify;
    font-size: 14px;
    color: rgb(31, 31, 31);
    line-height: 0.54rem;
}

.header__opt {
    text-align: center;
    margin-top: 0.2rem !important;
    padding-bottom: 0.62rem !important;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.44rem;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid rgb(237,237,237);
}
.footer img{
    float: left;
    width: 0.96rem;
    height: 0.96rem;
    margin: 0.24rem 0 0 0.4rem;
}
.footer p{
    float: left;
    margin:0.1rem 0 0 0.22rem;
    width: 5rem;
}
.footer p span{
    display: block;
    font-family: "PingFang SC";
}
.footer p span:first-child{
    font-size: 18px;
    font-weight: normal;
    color:rgb(31,31,31);
    height: 0.72rem;
    line-height: 0.72rem;
}
.footer p span:last-child{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    color: rgb(154,154,154);
}
.footer a{
    position: absolute;
    top: 0;
    right: 0;
    width: 2.4rem;
    height: 0.72rem;
    line-height: 0.72rem;
    border-radius: 0.34rem;
    background: #fff;
    border: 1px solid rgb(200,175,112);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: rgb(200,175,112);
    margin: 0.34rem 0.4rem 0 0;
}