footer{display: none;}
header{display: none;}
.show_header{display: block;}
.footer_padding_main{padding-bottom: 0;}

.detail_footer{display: none;}

#main .ordertab{display: none;}

header .back,header .shareIcon{display: block;}