body{ background:#f7f7f7;}
.slideBox{ position:relative;}
.swiper-container{margin: 0;padding: 0;}
.bgimg{width: 100%;position: absolute;bottom:0;z-index:1; }
.swiper-wrapper{z-index: 0;margin: 0;padding: 0;}
.swiper-pagination-bullet{ background:rgba(255,255,255,0.5); opacity:1;}
.swiper-pagination{position: absolute;left: 0;bottom: 15px; z-index: 99;width: 100%;text-align: center;}
.swiper-pagination-bullet{ margin-right:8px;}
.swiper-pagination-bullet-active{ background:rgba(255,255,255,1);}

.info{ padding:30px; background:#fff; margin-top:-5px;}
.info h2{ font-size:24px; font-weight:normal; line-height:28px; text-align:center;}
.info p{ text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#828282; padding:15px 0;}
.info .txt{ font-size:15px; line-height:26px; color:#828282;}
.info a{ font-size:14px; color:#ff4e53; margin-top:20px; display:block;}
.main{padding:30px;}
.main h3.icon1{ background:url(../img/store/icon_01.png) no-repeat left center; background-size:30px; text-indent:40px; height:40px; line-height:40px; margin:20px 0;}
.main h3.icon2{ background:url(../img/store/icon_02.png) no-repeat left center; background-size:30px; text-indent:40px; height:40px; line-height:40px; margin:20px 0;}
.main h3.icon3{ background:url(../img/store/icon_03.png) no-repeat left center; background-size:30px; text-indent:40px; height:40px; line-height:40px; margin:20px 0;}
.tb{ background:#fff; overflow:hidden; border:1px solid #f1f1f1;}
.tb table{ margin:20px 0 10px 0;}
.tb td{ height:35px; font-size:13px;padding-left: 20px;}
.tb .txt{    padding: 15px; font-size:13px; border-top:1px solid #f1f1f1;}
.tb .col{ color:#d3ae4d;}
.main .txt2{ font-size:14px; line-height:26px; padding-bottom:12px; margin-top:-10px;}

.fixd{ position:fixed; left:0; bottom:0; height:65px; line-height:65px; background:#ff484d; width:100%; font-size:16px; color:#fff; text-align:center;}
.fixd .jf,.fixd .btn{ width:100%; display:inline-block; float:left;z-index: 9999999;}
.fixd .jf p{ background: url(../img/store/icon_04.png) no-repeat left center; background-size:25px; text-indent:32px; display:inline-block;}
.fixd .btn{ background:#2f2f2f;}


.item-in .box{ width:50%; float:left; text-align:center; opacity:0.5;}
.item-in .box span{ display:inline-block;}
.item-in .boxOn{ opacity:1;}
.fenggexian{
    width: 1px;
    height:38px; border-left:1px solid #ededed;
    position: absolute;
    top:10px;
    left:50%;
    transform: translateX(-50%);
}
.item-in{ position:relative;padding:20px 0;
    overflow: hidden;}
.tabMain{ display:none;}

header{ position: absolute; left:0; top:0; width:100%; z-index:99;background:-webkit-linear-gradient(top,rgba(0,0,0,0.2),rgba(0,0,0,0))}
.topbar{ background:none;}
.topbar .back{background-image: url(../../img/global/back2.png);}
.topbar .cart{ background:url(../../img/me/icon_03.png) no-repeat center center; width:50px; height:50px; display:block; float:right; background-size:28px; position:relative;}
.topbar .cart i{background: #f00; font-style: normal;
    text-decoration: none;
    padding: 0 7px;
    display: block;
    line-height: 18px;
    border-radius: 12px;
    color: #fff;
    position: absolute;
    font-size: 12px;
    right: 5px;
    font-family: Arial;
    top: 5px;
    text-align: center;}

/*头部的一些数据显示*/

.header__opt {
    text-align: center;
    margin-bottom:0.16rem;
}

.header__opt span {
    display: inline-block;
    line-height: 0.4rem;
    margin-right: 0.42rem;
    color: rgb(201,203,213);
    font-weight: 400;
    font-size: 0.24rem;
}
.header__opt span:last-child{margin-right: 0}

.header__opt span:before {
    display: inline-block;
    content: '';
    width: 0.36rem;
    height: 0.36rem;
    margin-right: 0.04rem;
    vertical-align: top;
}

.header__opt .view-count:before {
    background: url('../img/rectangle2.png') no-repeat;
    background-size: 0.36rem 0.36rem;
}

.header__opt .comment-count:before {
    background: url('../img/rectangle775.png') no-repeat;
    background-size: 0.36rem 0.36rem;
}

.header__opt .favorite-count:before {
    background: url('../img/invalidName.png') no-repeat;
    background-size: 0.36rem 0.36rem;
}