.topbar .other{ color:#e94c4d; font-size:15px;}
h4{font-weight: normal;}
/*progress_wrap  图表*/
.progress_wrap{padding: 30px 15px;position: relative;}
.progress_wrap .pad{padding: 16px; box-shadow: 0 5px 15px 4px #e3e3e3;}
.progress_wrap .pad > span{color: #d3d4dd;font-size: 14px;}
.progress_wrap .pad > h4{font-size: 18px;color: #e86b6a;margin-bottom: 4px;}
.progress_wrap .pad .jin_top{overflow: hidden;height: 150px;margin-bottom: 20px;}
.progress_wrap .pad .jin_top .progress{height: 90%;background: #c9cbd5;position: absolute;left:50%;bottom: 0;border-top-left-radius:15px;border-top-right-radius: 15px;width: 16px; margin-left:-8px;}
.progress_wrap .pad .jin_top .progress.on{background: #ff484d;}
.progress_wrap .jin_top ul{overflow: hidden;height: 150px;}
.progress_wrap .jin_top ul li{position: relative;height: 100%;float: left;width: 11.11%;}
.progress_wrap .jin_top ul li:last-of-type{margin-right: 0;}
.progress_wrap .jin_bottom{height: 50px;}
.progress_wrap .jin_bottom ul{overflow: hidden;height: 100%;}
.progress_wrap .jin_bottom li{float: left;text-align: center;color: #d3d4dd;width: 11.11%;}
.progress_wrap .jin_bottom li.on{color: #3c3c3c;}
.progress_wrap .jin_bottom li:last-of-type{margin-right: 0;}
.progress_wrap .jin_bottom .name{width: 16px; display:inline-block;}
.allSpecial{position: relative;overflow: hidden;}
.allSpecial .pad{padding: 20px 15px 35px 15px;}
.allSpecial h4{font-size: 16px;color: #000;margin-bottom: 8px;}
.allSpecial p{font-size: 14px;color: #888;letter-spacing: 2px;line-height: 20px;margin-bottom: 30px;}
.allSpecial .info{overflow: hidden;}
.allSpecial .info .cial{display: inline-block;width: 23.5%;box-sizing: border-box;float: left;margin-right: 2%;text-align: center;padding: 6px 0;border: 1px solid #ededed;border-radius: 16px;color: #93959e;margin-bottom: 2%;}
.allSpecial .info .cial:last-of-type{margin-right: 0;}

.recommend {position: relative;}
.recommend .pad{padding: 0 15px;}
.recommend .pad h2{text-align: center;font-size: 20px;margin: 30px 0;color: #3c3c3c; font-variant:normal;}
.recommend .pad h2 > i{display: inline-block;width: 40px;height: 40px;background: url(../../img/health/icon1.png) no-repeat center;background-size: 100%;vertical-align: middle;}
.recommend .pad > h4{font-size: 16px;color: #3c3c3c;margin-bottom: 10px;}
.recommend .pad > p{color: #999999;font-size: 14px;letter-spacing: 2px;line-height: 20px;margin-bottom: 30px;}
.recommend .pad .pic{position: relative;overflow: hidden;border-radius: 6px;margin-bottom: 20px;}
.recommend .pad .pH{position: absolute;width: 100%;height: 75%;background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.2),rgba(0,0,0,0));left: 0;bottom: 0;}
.recommend .pad .tit{position: absolute;bottom: 12%;width: 100%;text-align: center;}
.recommend .pad .tit p{color: #ff484d;margin-bottom: 6px;font-size: 14px;}
.recommend .pad .tit span{color: #fff;font-size: 16px;letter-spacing: 1px;line-height: 21px;padding-bottom: 6px;padding-top: 1px;}
.recommend .introduce{padding: 0 20px;line-height: 20px;color: #999;font-size: 16px;padding-bottom: 25px;}
.recommend.commed_02,.recommend.commed_03{padding: 40px 0px;}
.recommend .more{display: block;text-align: center;}
.recommend .more a{color: #999;font-size: 14px; text-decoration:underline;}
.recommend .pad .pic>img{float: left;}

.recommend .introduce p{ font-size:14px; line-height:20px;}