body {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-image: url("../img/loginbg.jpg");
    font-family: "PingFang SC";
    overflow: hidden;
}
.logo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}
.logotxt{
    width: 2rem;
    position: absolute;
    top: 4.54rem;
    left: 50%;
    margin-left:-1rem;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color: #fff;
}
/*.backto{*/
    /*font-size: 14px;*/
    /*color: #fff;*/
    /*position: absolute;*/
    /*top: 0.48rem;*/
    /*left: 0.1rem;*/
    /*font-weight: 200;*/
/*}*/
/*.backto::before{*/
    /*content: '';*/
    /*display: inline-block;*/
    /*width: 0.48rem;*/
    /*height: 0.48rem;*/
    /*background: url(../img/backto.png);*/
    /*background-size: 0.48rem 0.48rem;*/
    /*vertical-align: middle;*/
    /*margin-right: 0.04rem;*/
/*}*/
.ulstyle {
    margin: 0 auto;
    margin-top: 6.66rem;
    width: 6.42rem;
}
.ulstyle li{overflow: hidden;position: relative;}
.ulstyle .edit {
    margin-top: 0.54rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.ulstyle .edit img:last-child{position: absolute;right:0;margin-top: -0.5rem;}
.ulstyle img {
    width: 0.48rem;
    height: 0.48rem;
    color: #fff;
}
.ulstyle .txtbtn{
    margin-top: 0.16rem;
}
.ulstyle .txtbtn a {
    color: #fff;
    font-weight: 200;
}
.ulstyle .txtbtn a:last-child {
    float: right;
}
.ulstyle input {
    width: 5rem;
    background: none;
    border: none;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
    padding-right: 0.8rem;
}
.ulstyle input::-webkit-input-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle input:-moz-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle input::-moz-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle input:-ms-input-placeholder { color:rgba(255,255,255,0.75)}
.loginbtn {
    display: block;
    margin-top: 0.62rem;
    background-color: rgb(255, 101, 101);
    border-radius: 0.08rem;
    width: 6.42rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    letter-spacing: 5px;
    font-family: "PingFang SC";
    font-weight: normal;
    color: #fff;
}
.loginbtn:link {color: #fff;}
.loginbtn:visited {color: #fff;}
.loginbtn:hover {color: #fff;}
.loginbtn:active {color: #fff;}

/*注册*/
.ulstyle2 {
    margin: 0 auto;
    margin-top: 1.86rem;
    width: 6.42rem;
}
.ulstyle2 li{overflow: hidden;}
.ulstyle2 .edit {
    margin-top: 0.54rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #fff;
    width: 100%;
}
.ulstyle2 .edit img:last-child{float: right;}
.ulstyle2 .edit2 {
    margin-top: 0.54rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #fff;
    width: 60%;
}
.ulstyle2 .edit2 img:last-child{float: right;}
.ulstyle2 img {
    width: 0.48rem;
    height: 0.48rem;
    color: #fff;
}
.ulstyle2 .txt{
    margin-top: 0.16rem;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
}
.ulstyle2 .txt a {
    color: #fff;
    text-decoration: underline!important;
}
.ulstyle2 input {
    width: 5rem;
    background: none;
    border: none;
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
}
.ulstyle2 input::-webkit-input-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle2 input:-moz-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle2 input::-moz-placeholder { color:rgba(255,255,255,0.75)}
.ulstyle2 input:-ms-input-placeholder { color:rgba(255,255,255,0.75)}
.codebtn{
    display: inline-block;
    float: right;
    width: 2.16rem;
    height: 0.9rem;
    line-height: 0.9rem;
    margin-top: -0.9rem;
    border-radius: 0.08rem;
}
.codebtn button{
    width: 2.16rem;
    height: 0.9rem;
    line-height: 0.9rem;
    border-radius: 0.08rem;
    color: rgb(247,247,247);
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}
.yellowbg{background-color: rgb(245,166,35);}
.greybg{background-color: rgb(203,203,203);}
.ulstyle2 .explain{
    margin-top: 0.74rem;
    color: #fff;
    font-weight: lighter;
}
.ulstyle2 .explain p:first-child{font-size: 16px;}
.ulstyle2 .explain p:last-child{font-size: 12px;}
