html, body {
  height: 100%; }

.vide-share {
  height: 100%;
  background-color: #fff; }
  .vide-share #video {
    background-color: #999;
    height: 21rem; }
  .vide-share .videobox {
    position: relative; }
    .vide-share .videobox .num {
      position: absolute;
      display: inline-block;
      width: 6.3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      bottom: 3rem;
      color: #fff;
      font-size: 1rem;
      background: #2f2f2f url("../img/account.png") 1.2rem center no-repeat;
      background-size: 1.8rem 1.8rem;
      padding-left: 1.8rem;
      border-radius: 3rem;
      left: 0.8rem;
      bottom: 5rem; }
  .vide-share .anchor {
    font-size: 1.4rem;
    padding: 1.2rem 0.8rem; }
    .vide-share .anchor h4 {
      border-left: 2px solid #000;
      padding-left: 0.7rem;
      line-height: 1;
      margin-bottom: 2.4rem; }
    .vide-share .anchor .tit {
      min-height: 3.6rem;
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      .vide-share .anchor .tit img {
        position: absolute;
        left:0;
        top: 0;
        width: 3.6rem;
        height: 3.6rem;
        border-radius: 100%;
        margin-right: 0.8rem; }
      .vide-share .anchor .tit p {
        margin-left: 4.4rem;
        max-width:25rem; }
      .vide-share .anchor .tit em {
        font-size: 1rem;
        color: #828282; }
    .vide-share .anchor .introduct {
      padding: 1.6rem 3.4rem 0 4.4rem;
      font-size: 1.2rem;
      color: #828282;
      letter-spacing: 0.15rem;
      line-height: 1.5; }

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  background: #fff;
}
.footer img{
  float: left;
  width: 6rem;
  height: 6rem;
}
.footer p{
  float: left;
  margin: 1.2rem 0 0 1.5rem;
  width: 15rem;
}
.footer p span{
  display: block;
  height: 2rem;
  line-height: 2rem;
}
.footer p span:first-child{
  font-size: 14px;
  font-weight: bold;
  color: rgb(47,47,47);
}
.footer p span:last-child{
  font-size: 12px;
  font-weight: normal;
  color: rgb(130,130,130);
}
.footer a{
  float: right;
  width: 6.2rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 1.4rem;
  background: rgb(251,76,76);
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin: 1.5rem 0.9rem 0 0;
}